<div class="container d-flex justify-content-center p-4">
    <div class="card bg-black rounded-4 text-light shadow" style="width: 28rem;">
        <div class="card-body">
            <h3 class="card-title text-white text-center fst-italic fw-bolder">Formulario de Registro</h3>
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <div class="mb-2">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control border-secondary" formControlName="name" id="name">
                    <span class="text-danger"
                        *ngIf="registrationForm.get('name')?.touched && registrationForm.get('name')?.errors?.['required']">
                        Es necesario que ingrese su nombre
                    </span>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('name')?.touched && registrationForm.get('name')?.errors?.['minlength']">
                        Debe tener por lo menos 3 letras
                    </span>
                    <span class="text-danger" *ngIf="registrationForm.get('name')?.errors?.['maxlength']">
                        El campo de nombre tiene un limite máximo de 20 letras
                    </span>
                </div>
                <div class="mb-2">
                    <label for="lastname" class="form-label">Apellido</label>
                    <input type="text" class="form-control border-secondary" formControlName="lastname" id="lastname">
                    <span class="text-danger"
                        *ngIf="registrationForm.get('lastname')?.touched && registrationForm.get('lastname')?.errors?.['required']">
                        Es necesario que ingrese su apellido.
                    </span>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('lastname')?.touched && registrationForm.get('lastname')?.errors?.['minlength']">
                        Debe tener por lo menos 3 letras.
                    </span>
                    <span class="text-danger" *ngIf="registrationForm.get('lastname')?.errors?.['maxlength']">
                        El campo de apellido tiene un limite máximo de 20 letras.
                    </span>
                </div>
                <div class="mb-2">
                    <label for="birthday" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control border-secondary" formControlName="birthday" id="birthday">
                    <span class="text-danger"
                        *ngIf="registrationForm.get('birthday')?.touched && registrationForm.get('birthday')?.errors?.['required']">
                        La fecha de nacimiento es <strong>obligatoria</strong>.
                    </span>
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                    <input type="email" class="form-control border-secondary" id="email" formControlName="email"
                        placeholder="ejemplo@mail.com">
                    <span class="text-danger"
                        *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['required']">
                        Es necesario que ingrese su email.
                    </span>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['email']">
                        No es un formato válido de correo electrónico.
                    </span>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input [type]="inputPassType ? 'text' : 'password'" class="form-control border-secondary"
                            formControlName="password" id="password" aria-describedby="passhelp">
                        <span class="input-group-text border-secondary">
                            <i class="fa" (click)="toggleInputPassType()"></i>
                        </span>
                    </div>
                    <div id="passhelp" class="form-text">La contraseña debe contener entre 8 y 20
                        caracteres alfanuméricos</div>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']">
                        Es necesario que escriba una contraseña
                    </span>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['minlength']">
                        Debe tener por lo menos <strong>8 caractetres alfanuméricos</strong>.
                    </span>
                    <span class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['maxlength']">
                        La contraseña tiene un limite <strong>máximo de 20 caracteres alfanuméricos</strong>.
                    </span>
                </div>

                <div class="mb-4">
                    <label for="checkpass" class="form-label">Reingrese la contraseña</label>
                    <div class="input-group">
                        <input [type]="inputCheckType ? 'text': 'password'" class="form-control border-secondary"
                            formControlName="checkpass" id="checkpass">
                        <span class="input-group-text border-secondary">
                            <i class="fa fa-eye" [ngClass]="{'fa-eye-slash': inputCheckType, 'fa-eye': !inputCheckType}"
                                (click)="toggleInputCheckType()"></i>
                        </span>
                    </div>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('checkpass')?.touched && registrationForm.get('checkpass')?.errors?.['required']">
                        Es necesario que escriba una contraseña
                    </span>
                    <span class="text-danger"
                        *ngIf="registrationForm.get('checkpass')?.touched && registrationForm.get('checkpass')?.errors?.['minlength']">
                        Debe tener por lo menos <strong>8 caractetres alfanuméricos</strong>.
                    </span>
                    <span class="text-danger" *ngIf="registrationForm.get('checkpass')?.errors?.['maxlength']">
                        La contraseña tiene un limite <strong>máximo de 20 caracteres alfanuméricos</strong>.
                    </span>
                    <span *ngIf="registrationForm.get('checkpass')?.touched && registrationForm.hasError('notSame') "
                        class="text-danger">Las contraseñas <strong>no coinciden</strong>.</span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="this.registrationForm.invalid">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>